/* PARTE DE QUIEN SOY */

.quienSoy {
    background-color: #787878;
    scroll-margin-top: 2em;
    margin-bottom: 50px;
    padding-bottom: 50px;
  
    .TituloPrincipal {
        padding-top: 50px;
    }
}